
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


#comment-body {
  color: #5e5e5e;
  font-size: 62%;
}

#comment-reply {
  cursor: pointer;
  text-decoration: none;
  padding-left: 20px;
}

#reply-form {
  display: none;
  color: #2a88bd;
  padding-right: 80px;
}

.view-comment{
  font-size: 15px;
  text-decoration: none;
}

.removed {
  font-size: 10px;
  color: slategray;
}

.post-image {
  display: block;
  max-width: 33%;
  height: auto;
}


p {
  margin: 0 0 10px;
  padding-right: 20%;
}
